doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title API - fortune(6)
    style
      include style.css
  body
    h1 API
    dl
      dt <code>/api/fortune[?command=COMMAND]</code>
      dd Return an adage, use a fortune(6) COMMAND to control the result.
      dt <code>/api/fortune?sha1=sha1</code>
      dd Return a specific adage.
    h2 Examples
    ul
      li <a href="/api/fortune">/api/fortune</a>
      li <a href="/api/fortune?command=fortune+tang300+song100">/api/fortune?command=fortune tang300 song100</a>
      li <a href="/api/fortune?sha1=33b82fba05d78c33ded4eb6f93ed288d5b629da9">/api/fortune?sha1=33b82fba05d78c33ded4eb6f93ed288d5b629da9</a>
