doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title fortune(6)
    style
      include style.css
  body
    form
      div
        label(for="command").
          Enter <code>
          <a href="https://manpages.debian.org/buster/fortune-mod/fortune.6.en.html">
          fortune(6)</a></code> command:
      div
        input#command(name="command" type="text" value=`${command || "fortune "}` required)
      div
        input(type="submit")
      if result
        div
          output(name="output")
            if result.error
              p #{result.error}
            else
              p.content #{result.content}
              p
                a(href=`/?sha1=${result.sha1}`) permalink
    footer <a href="/api">API</a> | View source on <a href="https://github.com/xuchunyang/fortune">GitHub</a>
