body {
  color: #333;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  line-height: 1.5;
  max-width: 50em;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

form > div {
  margin-bottom: 1em;
}

input {
  font-family: inherit;
  font-size: 100%;
  padding: 5px 10px;
}

input#command {
  width: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: right;
  color: #666;
  font-size: 80%;
}

p.content {
  white-space: pre;
}
